.vitals {
  display: flex;
  grid-row: 1/-1;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--green) !important;

  .vital-reading {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: .75rem;

    .icon {
      width: 3rem;
      height: 3rem;
      display: flex;
      padding: .5rem;
      font-size: 1.4rem;
      border-radius: 25%;
      background: #28A266;
      align-items: center;
      margin-right: .75rem;
      justify-content: center;
    }
    .vital-value {
      font-size: 1.2rem;
      margin-bottom: .25rem;
    }
    .vital-label {
      font-size: .7rem;
      font-weight: 500;
      letter-spacing: 0.01rem;
    }

  }

}

@media all and (min-device-width: 320px) and (max-device-width: 720px) {

  .vitals {
    grid-row: auto;

    .vitals-wrapper {
      margin-top: .75rem;
    }

    .vital-reading {
      .icon {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
      }
      .vital-value {
        font-size: 1rem;
        margin-bottom: .1rem;
      }
      .vital-label {
        font-size: .6rem;
      }

    }

  }


}
